Package: com.ianwelker.tripletolow
Name: TripleToLow
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ian Welker
Author: Ian Welker
Section: Tweaks
